.img {
	width: 50%;
}

.blocks {
	display: flex;
	justify-content: space-between;
}

h2,
h3 {
	font-family: 'MS Sans Serif', sans-serif;
}

p {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
    color: rgb(113, 112, 112);
	margin-block: unset;
}